<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level %logger{0} - %message%n</pattern>
        </encoder>
    </appender>

    <!-- Loggers -->
    <logger name="com.sdl.odata.example" level="debug"/>
    <logger name="com.sdl.odata" level="debug"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
